<section id="search" ng-controller="searchCtrl">
  <h1>Uncommuter</h1>
  <form ng-init="searchInput.rad=40">
    <input type="text" placeholder="Street Address" ng-model="searchInput.street_address"/>
    <input type="text" placeholder="Job Keyword" ng-model="searchInput.skill"/>
    <input type="text" placeholder="Zipcode" ng-model="searchInput.city"/>
    <input type="radio" name="rad" value="3" ng-model="searchInput.rad">3m</input>
    <input type="radio" name="rad" value="5" ng-model="searchInput.rad">5m</input>
    <input type="radio" name="rad" value="10" ng-model="searchInput.rad">10m</input>
    <input type="radio" name="rad" ng-checked="true" value="40" ng-model="searchInput.rad" checked>40m</input>
    <button type="button" ng-click="search(searchInput)">Uncommute</button>
  </form>
</section>



<!-- this will be our search page -->
