<section id="search" ng-controller="searchCtrl">
  <h1>Uncommuter</h1>
  <form>
<!--for use with express query-->
    <!-- <input type="text" placeholder="Street Address" ng-model="addressInput"/>
    <input type="text" placeholder="Job Keyword" ng-model="jobInput"/>
    <input type="number" placeholder="Zipcode" ng-model="zipcode"/>
    <button type="button" ng-click="search()">Uncommute</button> -->

    <input type="text" placeholder="Street Address" ng-model="searchInput.street_address"/>
    <input type="text" placeholder="Job Keyword" ng-model="searchInput.skill"/>
    <input type="text" placeholder="Zipcode" ng-model="searchInput.city"/>
    <button type="button" ng-click="search(searchInput)">Uncommute</button>
  </form>
</section>

<!-- this will be our search page -->
