<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>UnCommuter</title>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4-nphLysUEQAFeNFzp3bEmh3Qde0HwJk&callback=initMap"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js" charset="utf-8"></script>

</head>
<body  ng-app="myApp">
  <div ng-controller="myCtrl1">
    <ul>
      <li ng-repeat="item in items">
        {{item.company}}
        {{item.jobTitle}}
        {{item.location}}
      </li>
    </ul>
  </div>

  <!-- <div ng-controller="myCtrl2">
    <ul>
      <li ng-repeat="item in items">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div ng-controller="myCtrl3">
    <ul>
      <li ng-repeat="item in items">
        {{item.data}}
      </li>
    </ul>
  </div> -->




   </body>
</html>
