<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>#</title>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/searchController.js" charset="utf-8"></script>
  <script src="js/jobsController.js" charset="utf-8"></script>
  <script src="js/defaultMapController.js" charset="utf-8"></script>
</head>
<body>
<!-- <body  ng-app="projectApp">
  <div ng-controller="jobsCtrl">
    <ul>
      <li ng-repeat="item in items">
        {{item.data}}
      </li>
    </ul>
  </div>

  <div ng-controller="mapsCtrl">
    <ul>
      <li ng-repeat="item in items">
        {{item.title}}
      </li>
    </ul>
  </div>

  <div ng-controller="myCtrl3">
    <ul>
      <li ng-repeat="item in items">
        {{item.data}}
      </li>
    </ul>
  </div> -->




</body>
</html>
