<!DOCTYPE html>
<div id="job-map">

</div>
<div id="modal">
	hello
	<p>{{ modalInfo }}</p>
	<a href="{{ modalLink }}">Apply Here!</a>
	goodbye
</div>
<div>

	<ul>
		<li ng-repeat="item in items">
			{{item.company}}
			{{item.jobTitle}}
			{{item.location}}
		</li>
	</ul>
</div>


<!-- <div ng-controller="searchOutputCtrl">
	{{searchOutput.zipcode}}
	{{searchOutput.job_title}}
	{{searchOutput.street_address}}
</div> -->



<!-- this is our map with the markers for the area near their address and list of job postings-->
