<!DOCTYPE html>
<div id="container">
	<div class="row" id="something">
		<div id="job-map" class="col-sm-9">

		</div>


		<div id="modal" class="col-sm-3">
				<h1>Job information</h1>
			<p>{{ modalJob }}
			<br>{{modalCompany}}
			<br>{{modalLocation}}</p>
			<a href="{{modalLink}}" target="_blank">Apply Here!</a>
		</div>
	</div>
</div>

<div>
	<ul>
		<li ng-repeat="item in items">
			{{item.company}}
			{{item.jobTitle}}
			{{item.location}}
		</li>
	</ul>
</div>


<!-- <div ng-controller="searchOutputCtrl">
	{{searchOutput.zipcode}}
	{{searchOutput.job_title}}
	{{searchOutput.street_address}}
</div> -->



<!-- this is our map with the markers for the area near their address and list of job postings-->
