<!DOCTYPE html>

<section id="search" ng-controller="searchCtrl">
  <h1>Uncommuter</h1>
  <form ng-init="searchInput.rad=40">
    <input type="text" placeholder="Street Address" ng-model="searchInput.street_address"/>
    <input type="text" placeholder="Job Keyword" ng-model="searchInput.skill"/>
    <input type="text" placeholder="Zipcode" ng-model="searchInput.city"/>
    <input type="radio" name="rad" value="3" ng-model="searchInput.rad">3m</input>
    <input type="radio" name="rad" value="5" ng-model="searchInput.rad">5m</input>
    <input type="radio" name="rad" value="10" ng-model="searchInput.rad">10m</input>
    <input type="radio" name="rad" ng-checked="true" value="40" ng-model="searchInput.rad" checked>40m</input>
    <button type="button" ng-click="search(searchInput)">Uncommute</button>
  </form>
</section>

<div id="container">
	<div class="row">
		<div class="col-sm-12" id="total-results-display" ng-model="totalResults">Results Found: {{totalResults || 0}}</div>
	</div>
	<div class="row" id="something">
		<div id="job-map" class="col-sm-9">

		</div>


		<div id="modal" class="col-sm-3">
			<h1>Job information</h1>
			<p>{{ modalJob }}
			<br>{{modalCompany}}
			<br>{{modalLocation}}</p>
			<a href="{{modalLink}}" target="_blank">Apply Here!</a>
		</div>
	</div>
</div>

<div>
	<ul>
		<li ng-repeat="item in items">
			{{item.company}}
			{{item.jobTitle}}
			{{item.location}}
		</li>
	</ul>
</div>


<!-- <div ng-controller="searchOutputCtrl">
	{{searchOutput.zipcode}}
	{{searchOutput.job_title}}
	{{searchOutput.street_address}}
</div> -->



<!-- this is our map with the markers for the area near their address and list of job postings-->
