#listings {
	height: 500px;
	overflow: scroll;
}

.listing {
	border: 2px solid black;
	border-radius: 2px;
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	margin-bottom: 5px;
	

	h3 {
	  	font-size: 18px;
	  	font-weight: 400;
	 	padding: 10px;
	 	background-color: #e74c3c;
	 	color: white;
	 	margin: 1px;
	}

	h4, p {
		font-family: 'Poiret One', sans-serif;
  		font-size: 14px;
  		padding: 10px;
  		text-align: center;
	}

}