.required {
  background: #eb6e60;
  border-radius: 2px
}

.row {
  width: 100%;
  margin: 0 auto;
}

span {
  font-size: 1em;
}

#job-map {
  margin: auto;
}

.col-sm-4 {
  margin: auto;
}

form {
  margin-top: 3em;
}


@media (max-width: 600px) {
  #job-map {
    height: 300px;
  }
  form button {
    font-size: 1.5em;
  }
  .container-fluid h1 {
    font-size: 2.5em;
  }
  .navbar-header {
    text-align: center;
    margin-left: 0px!important;
    margin-right: 0px!important
  }
  body {
    display: block;
    font-family: arial;
    border-radius: 5px;
    font-size: 2em;
  }

  .textInput {
    margin: 0 auto;
    display: block;
    font-size: 15px;
  }

  .radInput {
    margin: 0 auto;
  }

  span {
    font-size: .7em;
  }

  li {
    font-size: .75em;
  }
}
