.row {
  width: 100%;
  margin: 0 auto;
}

span {
  font-size: 1em;
}


#job-map {
  margin: auto; 
}

.col-sm-4 {
  margin: auto;
}

@media (max-width: 600px) {
  body {
    display: block;
    font-family: arial;
    border-radius: 5px;
    font-size: 2em;
  }

  .textInput {
    margin: 0 auto;
    display: block;
    font-size: 15px;
  }

  .radInput {
    margin: 0 auto;
  }

  span {
    font-size: .7em;
  }

  li {
    font-size: .75em;
  }
  }
