#job-map {
  width: 800px;
  height: 500px;
  margin: auto;
}




.iw_title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0;
 }


.gm_style_iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 0 0; }
