#job-map {
  width: 800px;
  height: 500px; }

#something {
  margin-left: 10px; }

#modal {
  width: 400px;
  height: 300px;
  border: solid black 2px;
  border-radius: 10px;
  margin-left: 20px; }

#modal p, a
{
  font-family: "Poiret One", cursive;
  font-size: 24px; }

#modal a
{
  color: #e74c3c;
}

#modal h1
{
    font-family: "Poiret One", cursive;
    text-align: center;
    border-bottom: solid black 2px;
    background-color: #e74c3c;
}
