span {
  font-size: 1em; }

@media (max-width: 600px) {
  body {
    display: block;
    font-family: arial;
    border-radius: 5px;
    font-size: 2em; }
  .textInput {
    margin: 0 auto;
    display: block;
    font-size: 15px; }
  .radInput {
    margin: 0 auto; }
  span {
    font-size: .7em; }
  #job-map {
    width: 220px;
    height: 400px; }
  li {
    font-size: .75em; } }
