#search {
  margin: 0 auto;
  text-align: center; }

form button {
  font-family: 'Poiret One', cursive;
  display: block;
  margin: 0 auto;
  margin-top: 20px; }

#search h1 {
  font-family: 'Poiret One', cursive; }

.navbar-header h1 {
  font-family: 'Poiret One', cursive;
  color: white; }

.navbar-header li {
  font-family: 'Poiret One', cursive; }

.navbar-header li a {
  color: white; }

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b; }

.navbar-default .navbar-brand {
  color: #ecf0f1; }

.photo1 {
  height: 500px;
  width: 400px;
  border: solid black 2px;
  border-radius: 6px;
  display: inline-block;
  float: right;
  margin-right: 200px; }

.photo1 img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 10px; }

.photo1 h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-weight: bold; }

.photo1 p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 18px;
  padding: 2px; }

.photo2 {
  height: 500px;
  width: 400px;
  border: solid black 2px;
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin-left: 200px; }

.photo2 img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 10px; }

.photo2 h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-weight: bold; }

.photo2 p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 18px;
  padding: 2px; }

.photo3 {
  height: 500px;
  width: 400px;
  border: solid black 2px;
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin-left: 200px; }

.photo3 img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 10px; }

.photo3 h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-weight: bold; }

.photo3 p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 18px;
  padding: 2px; }

.photo4 {
  height: 500px;
  width: 400px;
  border: solid black 2px;
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin-left: 200px; }

.photo4 img {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 10px; }

.photo4 h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-weight: bold; }

.photo4 p {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 18px;
  padding: 2px; }

.imgstyle {
  height: 300px;
  width: 300px;
  border-radius: 150px; }

.biostyle {
  font-family: 'Poiret One', cursive; }
