#search {
  margin: 0 auto;
  text-align: center; }

form button {
  font-family: 'Poiret One', cursive;
  display: block;
  margin: 0 auto;
  margin-top: 20px; }

#search h1 {
  font-family: 'Poiret One', cursive; }

.navbar-header h1 {
  font-family: 'Poiret One', cursive;
  color: white; }

.navbar-header li {
  font-family: 'Poiret One', cursive; }

.navbar-header li a {
  color: white; }

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b; }

.navbar-default .navbar-brand {
  color: #ecf0f1; }
