<div class="container-fluid">
  <div class="row-fluid">
   <ul class="thumbnails">
     <li class="col-md-6">
       <article class="thumbnail">
         <img src="assets/img/dave.jpg" alt="dave brunetti" height="175" width="175">
         <h2>Dave Brunetti</h2>
         <p>Front-End web developer with love of creative problem-solving seeking employment in metro Detroit.</p>
         <p>Contact Dave at: <a href="mailto:brunetti.dave@gmail.com">brunetti.dave@gmail.com</a></p>
       </article>
     </li>

     <li class="col-md-6">
       <article class="thumbnail">
         <img src="assets/img/shanita.jpg" alt="shanita scott" height="175" width="175">
         <h2>Shanita Scott</h2>
         <p>Rock-star teacher turned aspiring front-end web designer. Looking for an opportunity to combine my teaching and programming skills.</p>
         <p>Contact Shanita at: <a href="mailto:shanitanscott@yahoo.com">shanitanscott@yahoo.com</a></p>
         </article>
       </li>
     </ul>
   </div>

     <div class="row-fluid">
       <ul class="thumbnails">
         <li class="col-md-6">
           <article class="thumbnail">
             <img src="assets/img/john.jpg" alt="john beckius" height="175" width="175">
             <h2>John Beckius</h2>
             <p>Front-end Developer interested in expressive code and jumping in at the deep end.</p>
             <p>Contact John at:<a href="mailto:jbeckius91@gmail.com">jbeckius91@gmail.com</a></p>
           </article>
         </li>

         <li class="col-md-6">
           <article class="thumbnail">
             <img src="assets/img/timothy.jpg" alt="timothy haynes" height="175" width="175">
             <h2>Timothy Haynes</h2>
             <p>Firefighter turned developer - enthusiast of technology, researching, and learning.</p>
             <p>Contact Tim at: <a href="mailto:tim15811@gmail.com">tim15811@gmail.com</a></p>
             </article>
           </li>
         </ul>
       </div>
     </div>
