<div class="row-fluid">
 <ul class="thumbnails">
   <li class="col-md-6">
     <article class="thumbnail">
       <img src="assets/img/dave.jpg" alt="dave brunetti" height="200" width="200">
       <h3>Dave Brunetti</h3>
       <p>Dave is amazing!</p>
     </article>
   </li>

   <li class="col-md-6">
     <article class="thumbnail">
       <img src="assets/img/shanita.jpg" alt="shanita scott" height="200" width="200">
       <h3>Shanita Scott</h3>
       <p>Shanita is amazing!</h3>
       </article>
     </li>
   </ul>
 </div>

   <div class="row-fluid">
     <ul class="thumbnails">
       <li class="col-md-6">
         <article class="thumbnail">
           <img src="assets/img/john.jpg" alt="john beckius" height="200" width="200">
           <h3>John Beckius</h3>
           <p>John is amazing!</p>
         </article>
       </li>

       <li class="col-md-6">
         <article class="thumbnail">
           <img src="assets/img/timothy.jpg" alt="timothy haynes" height="200" width="200">
           <h3>Timothy Haynes</h3>
           <p>Timothy is amazing!</h3>
           </article>
         </li>
       </ul>
     </div>
