<!-- this will contain the job profile for any job that they click on more info in the modal -->
<!--*****example ajax query
<div ng-controller="ajaxApp">
  <p>{{ title }}</p>
</div>
*********-->

<!-- <div class='photo1'>
  <img src='images/shanita.jpg' alt='shanita scott'/>
  <h2>Shanita N. Scott</h2>
  <p>Shanita Scott is an amazing person. You should get to know her.</p>
</div>


<div class="photo2">
  <img src="images/dave.jpg" />
  <h2>Dave Brunetti</h2>
  <p>Dave Brunetti is also an amazing person. You should get to know him.</p>
</div>

    <div class="photo3">
      <img src="images/john.jpg" />
      <h2>John Beckius</h2>
      <p>John Beckius is also an amazing person. You should get to know him.</p>
    </div>

    <div class="photo4">
      <img src="images/timothy.jpg" />
      <h2>Timothy Haynes</h2>
      <p>Timothy Haynes is also an amazing person. You should get to know him.</p>
    </div> -->

  <div class='row'>
    <div class='col-md-2'>
    </div>

    <div class='col-md-4'>
      <img src='images/dave.jpg' alt='dave brunetti' class='imgstyle'/>

      <h2 class='biostyle'>Dave Brunetti</h2>
        <p class='biostyle'>Dave is an amazing person. You should get to know him.</p>
    </div>

    <div class='col-md-4'>
      <img src='images/shanita.jpg' alt='shanita scott' class='imgstyle'/>

      <h2 class='biostyle'>Shanita N. Scott</h2>
        <p class='biostyle'>Shanita is an amazing person. You should get to know her.</p>
    </div>

    <div class='col-md-2'>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class='row'>
    <div class='col-md-2'>
    </div>

    <div class='col-md-4'>
      <img src='images/john.jpg' alt='john beckius' class='imgstyle'/>

      <h2 class='biostyle'>John Beckius</h2>
        <p class='biostyle'>John is an amazing person. You should get to know him.</p>
    </div>

    <div class='col-md-4'>
      <img src='images/timothy.jpg' alt='timothy haynes' class='imgstyle'/>

      <h2 class='biostyle'>Timothy Haynes</h2>
        <p class='biostyle'>Timothy is an amazing person. You should get to know him.</p>
    </div>

    <div class='col-md-2'>
    </div>
  </div>
